body{
	background-image: url("http://1.bp.blogspot.com/-v6mgnlIxPog/T7ZSl8jrG4I/AAAAAAAABCg/3cEkq6d5zWw/s1600/batata.png");
	background-attachment: fixed;
		}
.Principal {
	background: none repeat scroll 0% 0% #EBEBEB;
	height: 100%;
	left: 0px;
	opacity: 1;
	position: relative;
	margin: 0 auto;
	width: 900px;
	padding: 30px 30px 30px;
}
.bb{
	display: block;
	margin: 0 auto;
}
